body {
    height: 100%;
    width: 100%;
}

.bodydiv {
    background-color: #eeeeee;
    position: absolute;
    margin-top: 8vh;
    width: 88%;
    height: auto;
    margin-left: 3%;
    border: 2px #6d6d6d antiquewhite;
    border-radius: 10px;
}

.başlık {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 24px;
    margin-bottom: 3vh;
    text-decoration: underline;
}

.content {
    display: inline-block;
    padding:4em;
}


#işlem_buton {
    margin-top: 1vh;
    height: auto;
    width: 10vw;
    font-size: 1vw;
}

table {
    margin-top: 4vh;
    border-collapse: separate !important;
    border-spacing: 0;
    font-family: arial, sans-serif;
    font-size: 0.8em;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    table-layout: inherit;
    border: 2px solid #dddddd;
}

    table td, th {
        border: 2px solid #dddddd;
        text-align: center;
    }

th {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 10%;
}
        th input {
            font-weight: bold;
            border: 0;
            outline: 0;
        }

        th input:hover {
            text-decoration: underline;
        }
        th input:focus {
            color:dimgray;
        }

table tr:nth-child(even) {
    background-color: #dddddd;
}

    table tr:nth-child(even) td {
        border-right: 2px solid #d8d8d8;
        border-left: 2px solid #d8d8d8;
    }

    .flexform {
        display: flex;
    }

.secondbutton {
    margin-left: 0.3vw;
}


.search{
    float:right;
    display:flex;
}

.form-group{
    display:flex;
}

