body {
    background-image: url(../images/homebackground.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.title {
    float: left;
    font-size: 3vw;
    color: black;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.title-konum {
    margin-top: 30vh;
    margin-left: 15vw;
    position: absolute;
    background-color: rgba(128,128,128,.2);
    padding-right: 2vw;
    padding-left: 2vw;
    padding-bottom: 2vh;
    padding-top: 2vh;
    width: auto;
    height: auto;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

.textintitle{
    color:lightgray;
}