body {
    height: 100%;
    width: 100%;
}

.bodydiv {
    background-color: #eeeeee;
    position: absolute;
    margin-top: 8vh;
    width: 80%;
    height: auto;
    margin-left: 3%;
    border: 2px #6d6d6d antiquewhite;
    border-radius: 10px;
}

.author{
    display:flex;
}


.close {
    color: #aaaaaa;
    float: right;
    font-size: 60px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
.başlık {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 30px;
    margin-bottom: 3vh;
    margin-left:1em;
    text-decoration: underline;
}

.content {
    padding: 3.5em;
    display: inline-block;
    width:100%;
}


table {
    margin-top: 2vh;
    border-collapse: collapse;
    font-family: arial, sans-serif;
    width: 100%;
}

.table {
    height: auto;
    width: 100%;
    border-top-left-radius:1.5em;
    border-top-right-radius:1.5em;
    background-color: white;  
}
table td, th {
    font-size: 1em;
}

table th {
    text-decoration: underline;
    text-align: left;
    padding: 1em;
}
.bordernone{
    border:none;
}

table td {
    padding: 1em;
    text-align: left;
}

.author img {
    width: 5em;
    height: 5em;
}
.author{
    display:flex;
}
    .author p{
        margin-top:1.7em
    }


    .button {
        display: block;
        margin-top: 2vh;
        margin-bottom: 2vh;
        margin-left: 2vw;
        margin-right: 2vw;
    }

    .button form-select {
        height: auto;
        width: 3vw;
    }

#işlem_buton {
    margin-top: 1vh;
    height: auto;
    width: 8em;
    font-size: 1vw;
}


.search{
    float:right;
    height:auto;
    display:flex;
    position:relative;
}
.form-group{
    display:flex;
}
.form-control{
    width:20em;
}
.mytext {
    display: flex;
    margin-top: 2em;
    margin-left: 0.7em;
}
.mytext form{
    margin-left:0.4em;
}
.headercontent{
    display:flex;
    width:100%;
    height:auto;
    position:relative;
    justify-content:space-between
}
.exit{
    float:right;
}
.headers{
    display:flex;
    flex-direction:column;
}
.textboxs {
    display:flex; 
    flex-direction:column;
}
.textboxs input{
    width:40%;
    margin-top:2em;
    background-color:white;
    border:none;
    border: 2px solid black;
    border-bottom-left-radius:10px;
    border-top-left-radius:3px;
    border-top-right-radius:10px;
    padding-left:1em;
}
    .textboxs textarea {
        margin-top: 1.2em;
        resize: none;
        border: 2px solid black;
        border-radius:10px;
    }
.islembuton{
    display:flex;
}
.whitecolor{
    background-color:white;
    border-radius:10px;
    padding:1em;
}
.titleanddate{
    width:60%;
    margin-top:1em;
    display:flex;
    border-bottom: 1px solid black;
}
.date{
    margin-left:16em;
}
.iceriktext{
    margin-top:2em;
}