<head>
    <link rel="stylesheet" href="~/css/Contact.css" type="text/css">
</head>

<div class="row d-flex justify-content-center" style="width:100%">
    <div class="col-md-4 text-center" style="margin-top: 12em;">
        <h2 style="margin-bottom:1em;">BİZE ULAŞIN</h2>

        <p>
            Lokasyok: Türkiye/Bilecik. Bilecik Şeyh Edebali Üniversitesinde Mühendislik Fakültesi Binasında Bilgisayar Mühendisliği bölümünde bizi bulabilirsiniz. Bize <b>+90 (531)337-5881</b>
            numarası üzerinden, <a href="mailto:bugradaryal@hotmail.com"><b>bugradaryal@hotmail.com</b></a> veya <a href="mailto:bugradaryal0@gmail.com"><b>bugradaryal0@gmail.com</b></a>
            mail adresleri üzerinden ulaşabilirsiniz.<br />
        </p>
        <p style="margin-top:20px;">
            Bizi Sosyal Medya hesaplarımız üzerinden takip edin!
        </p>
        <a href="https://github.com/bugradaryal" class="fab fa-github" style="font-size: 48px; padding: 10px"></a>
        <a href="https://twitter.com/bugra_daryal" class="fab fa-twitter" style="font-size: 48px; padding: 10px"></a>
    </div>
    <div class="col-md-4 text-center" style="margin-top: 8em;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10252.228427420383!2d29.974002624812904!3d40.18668553554838!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cb9b2f270e631b%3A0x5f116c08c7042961!2sBilecik%20%C5%9Eeyh%20Edebali%20%C3%9Cniversitesi%20Meslek%20Y%C3%BCksekokulu!5e0!3m2!1str!2str!4v1646499130470!5m2!1str!2str" width="600" height="450" style="border: 0.5px solid black; border-radius: 5px 5px 5px 5px;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>