<head>
    <link rel="stylesheet" href="~/css/about.css" type="text/css">
</head>

<div class="centeredtext">
    <div>
        <h1 class="title"><b>Hakkımızda</b></h1>

        <p class="text">
            Şafak hesap makinesi tv domates beğendim gül öyle ki sokaklarda masanın şafak biber masaya doğru patlıcan göze çarpan. Ve un değirmeni gidecekmiş mıknatıslı okuma sayfası öyle ki dışarı çıktılar mıknatıslı okuma sayfası mıknatıslı okuma sayfası lambadaki gidecekmiş. Telefonu karşıdakine sandalye sandalye duyulmamış. Sevindi türemiş sıfat umut otobüs şafak un değirmeni balıkhaneye çobanın sinema yapacakmış domates gülüyorum ve masaya doğru. Umut eve doğru şafak değerli olduğu için bilgisayarı karşıdakine gülüyorum sarmal açılmadan dolayı cesurca yaptı beğendim. Sıla un değirmeni sevindi adresini batarya kutusu koyun adresini ekşili çorba türemiş sıfat mutlu oldular. Dışarı çıktılar gitti yapacakmış orta camisi sinema lakin un değirmeni sıradanlıktan adresini çakıl. Nedirnedemek Türkçe Lorem İpsum.
        </p>
    </div>
</div>
