@model ViewModels

@{
    ViewData["Title"] = ViewBag.CurrentView;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/text.css">
    <script src="~/js/firstkeynotempty.js"></script>
</head>


<div class="bodydiv">
     <div class="content">
        @foreach(var x in @Model.User_article)
        {
             <b class="başlık">Yazı Düzenleme</b>
             <form asp-action="My_Text_Edit_Save" asp-controller="Text" asp-area="" method="post">
                    <div>
                        <input type="text" Value="@x.title" name="title" maxlength="40" minlength="5" required onkeydown="keyDown(event)"/>
                        <textarea rows="30" cols="70" maxlength="3000" minlength="16" name="metin" required onkeydown="keyDown(event)">@x.text</textarea>
                    </div>
                     <div>
                         <input type="hidden" asp-for=User.id value=@Model.User.id/>
                         <input type="hidden" asp-for=User_article_id value="@x.id"/>
                         <button type="submit" class="btn btn-secondary">Kaydet</button>
                    </div>
             </form>
             <form asp-action="My_Text" asp-controller="Text" asp-area="" method="post">
                 <input type="hidden" asp-for=User.id value=@Model.User.id/>
                 <button type="submit" class="btn btn-secondary">İşlem İptal</button>
             </form>
          }
        </div>
</div>
