@model ViewModels

@{
    ViewData["Title"] = ViewBag.CurrentView;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/text.css">
    <script src="~/js/firstkeynotempty.js"></script>
</head>


<div class="bodydiv">
     <div class="content">
         <b class="başlık">Yeni Yazı</b>
         <form asp-action="Create_New_Text" asp-controller="Text" asp-area="" method="post">
                <div>
                    <input type="text" placeholder="Başlık" name="title" maxlength="40" minlength="5" required onkeydown="keyDown(event)"/>
                    <textarea rows="30" cols="70" maxlength="3000" minlength="16" placeholder="Metin" name="metin" required onkeydown="keyDown(event)"></textarea>
                </div>
                 <div>
                     <input type="hidden" asp-for=User.id value=@Model.User.id/>
                     <button type="submit" class="btn btn-secondary">Paylaş</button>
                </div>
         </form>
         <form asp-action="Text" asp-controller="Text" asp-area="" method="post">
             <input type="hidden" asp-for=User.id value=@Model.User.id/>
             <button type="submit" class="btn btn-secondary">İşlem İptal</button>
         </form>
        </div>
</div>
