
@{
    ViewData["Title"] = ViewBag.CurrentView;
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/index.css" type="text/css">
</head>

<div class="title-konum">
    <b class="title">Sanal Buz Dolabına<br>Hoşgeldiniz!!!</b>
</div>

