
@{
    ViewData["Title"] = ViewBag.CurrentView;
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/index.css" type="text/css">
</head>

<div class="title-konum">
    <div>
        <b class="title">Yemek Takip Etmenin<br>Kolay Yolu!!!</b>
    </div>
    <div style="margin-top:3.5vh">
        <div>
            <b class="textintitle">Artık Yiyeceklerimizi yakip edebileceğiz ve yiyeceklerimiz hakkında bilgiler öğrenebileceğiz.</b>
        </div>
        <div style="margin-top:0.5vh">
            <b class="textintitle">Tek bir adım geridesin. Giriş yap, fırsat ve kolaylığı kaçırma.</b>
        </div>
    </div>
</div>

